$black: #000;
$white: #fff;
$grey: #8D9191;
$peach: #F3B6A4;
$light-green: #C5D9CE;
$playfair-display: 'Playfair Display', serif;
$muli: 'Muli', sans-serif;
$lobster: 'Lobster', cursive;
$arizonia: 'Arizonia', Helvetica, sans-serif;
$great-vibes: 'Great Vibes', Helvetica, sans-serif;
$tiffany-blue: #6EC7C5;
